@model IEnumerable<kuruinsaat.Models.Resim>
@{
    var model2 = ViewBag.Proje;
    var kapak = Model.Where(x => x.KapakYap == 1).FirstOrDefault();
}
@{
    ViewBag.Title = "ProjeDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="project_details_banner" style="background: url(/Assets/Images/Uploads/@kapak.ResimYolu);  background-size: cover; background-color: rgba(0, 0, 0, 0.7) !important;">
    <div class="project_details_info pt-5 mt-5">
        <div class="container mt-5 pt-5">
            <div class="row align-items-center justify-content-center pt-5 mt-5">
                <div class="col-xl-9 col-md-9 col-md-12">
                    <div class="text-center">
                        <h1 class="text-white">
                            Kuru
                            İnşaat
                        </h1>
                        <h2 class="text-white"> @model2[0].Adi</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="project_details_info">
    <div class="container">
        <div class="row justify-content-center">*@
<div class="section-top-border">
    <h3>Resim Galiresi</h3>
    <div class="row gallery-item">
        @{
            foreach (var resim in Model)
            {
                <div class="col-md-4">
                    <a href="~/Assets/Images/Uploads/@resim.ResimYolu" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(/Assets/Images/Uploads/@resim.ResimYolu);">

                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>

@*</div>
        </div>
    </div>*@

<div class="project_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10">
                <div class="row">
                    <div class="col-md-6">
                        <div class="details_header details_left">
                            <h3>@model2[0].Adi Projesi</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="details_header details_right">
                            <div class="date_line d-flex align-items-center justify-content-end">
                                <div class="single_date">
                                    <span>Arsa Alanı</span>
                                    <p>@model2[0].ArsaAlani m²</p>
                                </div>
                                <div class="single_date">
                                    <span>Ekleme Zamanı</span>
                                    <p>@model2[0].EklemeZamani</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="details_left">
                            <div class="single_date">
                                <span>Toplam Konut Sayısı</span>
                                <p>@model2[0].ToplamKonutSayisi</p>
                            </div>
                            <div class="single_date">
                                <span>Blok Adedi</span>
                                <p>@model2[0].BlokAdedi</p>
                            </div>
                            <div class="single_date">
                                <span>Kullanılabilir Alan</span>
                                <p>@model2[0].KullanilabilirAlan</p>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="details_right">
                            <div class="single_date">
                                <span>Teslim Tarihi</span>
                                <p>@model2[0].TeslimTarihi</p>
                            </div>
                            <div class="single_date">
                                <span>Adres</span>
                                <p>@model2[0].Adres</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border_1px">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="links">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-facebook"></i>Facebook </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-twitter"></i>Twitter </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-pinterest-p"></i>Pinterest </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="project_details_info">
    <div class="container-fluid">
        <div class="row justify-content-center">

            @{List<kuruinsaat.Models.Dosya> dosyalar = ViewBag.Dosyalar;
                var pdfler = dosyalar.Where(x => x.Type == 2).ToList();
                var panoramic = dosyalar.Where(x => x.Type == 1).ToList();}
            @{ foreach (var pdf in pdfler)
                {
                    <div class="d-flex m-0 p-0">
                        <div class="row d-flex justify-content-center text-center p-0 m-0">
                            <a href="~/Assets/Uploads/@pdf.DosyaYolu">
                                <div class="col-12 p-0 m-0"><img src="~/Assets/Images/helper/pdficon.png" width="35" height="35" /></div>
                                <div class="col-12 p-0 m-0">Pdf</div>
                            </a>
                        </div>
                    </div>
                }
            }

            @{
                foreach (var panora in panoramic)
                {
                    <div class="d-flex mr-5 p-0">
                        <div class="row d-flex justify-content-center text-center p-0 m-0">
                            <a href="/Projeler/Panorama/@panora.Id">
                                <div class="col-12 p-0 m-0"><img src="~/Assets/Images/helper/360-degree.png" width="35" height="35" /></div>
                                <div class="col-12 p-0 m-0">360°</div>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- contact_us_start  -->
<div class="contact_us overlay">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-7">
                <div class="contact_text">
                    <h3>
                        İnşaat ve Endüstri Uzmanı mı arıyorsunuz?
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="contact_btn">
                    <a class="boxed-btn3" href="/iletisim">Bizim İle İletişime Geçin </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact_us_end -->
<!-- chose_us_area start -->
    
@{  var videolar = dosyalar.Where(x => x.Type == 3).ToList();
    foreach (var video in videolar)
    {
        <div class="chose_us_area chose_bg_1" style="margin-top:5px !important">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="chose_info">
                                <div class="icon_video" style="margin-top:-25px !important">
                                    <a class="popup-video" href="~/Assets/Uploads/@video.DosyaYolu">
                                        <video controls="controls" class="popup-video" width="375" height="350" style="display:none">
                                            <source src="~/Assets/Uploads/@video.DosyaYolu" type="video/mp4" />
                                        </video>
                                        <i class="fa fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- chose_us_area end -->
        }
    }
}
