@model List<kuruinsaat.Models.Proje>

@{
    ViewBag.Title = "ProjeList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <h2>ProjeList</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Adi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].BlokAdedi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].ToplamKonutSayisi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].ArsaAlani)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].KullanilabilirAlan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].TeslimTarihi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Adres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].EkleyenId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].EklemeZamani)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].GuncelleyenId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Guncellemezamani)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Aktif)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlokAdedi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToplamKonutSayisi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArsaAlani)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KullanilabilirAlan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeslimTarihi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EkleyenId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EklemeZamani)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GuncelleyenId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guncellemezamani)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aktif)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>